@import "bootstrap-compass";
@import "bootstrap";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);


$usuki:#FAD689; //淺黃
$namakabe:#7D6C46; //生壁
$ginsyu:#C73E3A; //銀朱
$fangsong:'cwTeXFangSong', serif; //仿宋


body{
  background-color:$usuki;
  overflow-x:hidden;
  overflow-y:scroll;
  background-image:url("../images/glass.png");
  a, a:hover, a:active{
    text-decoration:none;
    color:black;
  }
}
h1{
  text-align:center;
  font-size:100pt;
  color:$namakabe;
  font-family:$fangsong;
}

nav{
  position:absolute;
  width:100vw;
  min-height:100px;
  text-align:center;
  z-index:10;
  background:rgb(255,255,255);
  ul{
    width:60%;
    display:inline-flex;
    justify-content:space-between;
    padding:0;
    margin:35px 0;
    li{
      list-style:none;
      font-size:20px;
      display:inline-block;
      text-align:center;
    }
  }
}

section{
  height:100vh;
  width:100vw;
  left:0;
  position:absolute;
  .index-section-content{
    width:80%;
    height:auto;
    margin:15% auto 0 auto;
    text-align:center;
    .info{
      width:60%;
      text-align:justify;
      margin:0 auto;
    }
  }
  &#first-viewport{
    .title-block{
      .sub-title{
        font-size:20pt;
        font-family: $fangsong;
        color:$namakabe;
      }
      h3{
       color:$ginsyu; 
       font-weight:bold;
      }
      
      .register-now{
        height:20%;
        margin:5% 0;
        text-align:center;
        span{
          border:$namakabe solid 5px;
          padding:5pt 10pt;
          background:$namakabe;
          font-size:20pt;
          a{
            color:white;
          }
        }
      }

    }
  }
  &#sponsor{
    .content{
      text-align:center;
      width:80%;
    }
    .spon-logo{
      position:relative;
      display:inline-block;
      width:30%;
      background:white;
      padding:20px;
      vertical-align:top;
      margin:10px;
      .logo{
        position:relative;
        width:250px;
        height:250px;
        display:inline-block;
        img{
          position:absolute;
          top:0;
          right:0;
          left:0;
          bottom:0;
          width:100%;
          margin:auto;
        }   
      }
      .caption{
        text-align:center;
      }
    }
  }
	&#about{
		.content{
			line-height: 3; 
		}
	}
  .content{
		text-align: justify;
    font-size: 18px;
    width: 50%;
    margin: 20px auto;
  }
}

footer{
  position:absolute;
  left:0;
  text-align:center;
  width:100vw;
  min-height:10%;
}

@import "index-mobile";
